<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="IsDBDriven" value="False"/>
    <add key="EmailSendTo" value="skarthikeyan@avant-garde.co.in, padmaja.shukla@gmail.com" />
    <add key="AdminDisplayName" value="Avant Garde Admin" />
    <add key="EmailServer" value="smtp.gmail.com" />
    <add key="EmailServerPort" value="587" />
    <add key="EmailFrom" value="nitinbajaj82@gmail.com" />
    <add key="AdminEmailPassword" value="nitinpassword" />
    <add key="AdminEmailCredential" value="Custom" />
    <add key="EmailServerEnableSSL" value="false" />
    <add key="ActivateEmail" value="true" />
    <add key="FeedbackEmailTemplate" value="Type: {0}&lt;br&gt;Name: {1}&lt;br&gt;Organization Name: {2}&lt;br&gt;Address: {3}&lt;br&gt;Email Address: {4}&lt;br&gt;Mobile: {5}&lt;br&gt;Proposal No.: {6}&lt;br&gt;Subject: {7}&lt;br&gt;Message: {8}" />
    <add key="CustConnectEMailSubject" value="Customer Connect Email: {0}" />

    <add key="OnlineApplicationTemplate" value="Name: {0}&lt;br&gt;Qualification: {1}&lt;br&gt;Phone: {2}&lt;br&gt;Email Address: {3}" />
    <add key="ApplicationEMailSubject" value="Online Application: {0}" />

    <add key="VendorRegistrationTemplate" value="Category: {0}&lt;br&gt;Sub-Category: {1}&lt;br&gt;Organization Name: {2}&lt;br&gt;Year of Establishment: {3}&lt;br&gt;Address for Communication: {4}&lt;br&gt;Email: {5}&lt;br&gt;Telephone Number: {6}&lt;br&gt;Contact Person: {7}&lt;br&gt;Mobile Number: {8}&lt;br&gt;Vendor Type: {9}&lt;br&gt;Business Description: {10}" />
    <add key="VendorEMailSubject" value="New Vendor Registration" />

  </appSettings>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Server=118.67.248.175;Initial Catalog=avantgarde;User ID=avantgarde;Password=agdb123$$;" providerName="System.Data.SqlClient"/>
    <!--<add name="ApplicationServices" connectionString="server=hppavilion;initial catalog=avantgarde_new; Integrated Security=SSPI;" providerName="system.data.sqlclient"/>-->
    
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
    <trust level="Full" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
